<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Widget\Model\Template\Filter" type="ScandiPWA\CmsGraphQl\Model\Template\VirtualFilter"/>
    <preference for="Magento\Widget\Model\Template\FilterEmulate" type="ScandiPWA\CmsGraphQl\Model\Template\VirtualFilter"/>
    <preference for="Magento\CmsGraphQl\Model\Resolver\DataProvider\Page" type="ScandiPWA\CmsGraphQl\Model\Resolver\DataProvider\Page"/>
    <preference for="Magento\CmsGraphQl\Model\Resolver\DataProvider\Block" type="ScandiPWA\CmsGraphQl\Model\Resolver\DataProvider\Block"/>

    <virtualType name="ScandiPWA\CmsGraphQl\Model\Template\VirtualFilter" type="ScandiPWA\CmsGraphQl\Model\Template\Filter">
        <arguments>
            <argument name="availableFilters" xsi:type="array">
                <item name="Slider" xsi:type="string">Scandiweb\Slider\Block\Widget\Slider</item>
                <item name="NewProducts" xsi:type="string">Magento\Catalog\Block\Product\Widget\NewWidget</item>
                <item name="CatalogProductList" xsi:type="string">Magento\CatalogWidget\Block\Product\ProductsList</item>
            </argument>
            <argument name="widgetUnescapedParams" xsi:type="array">
                <item name="type" xsi:type="string">type</item>
            </argument>
            <argument name="widgetCustomParamsHandlers" xsi:type="array">
                <item name="conditions_encoded" xsi:type="object">ScandiPWA\CmsGraphQl\Model\Resolver\Attribute\ConditionsEncoded</item>
            </argument>
        </arguments>
    </virtualType>
</config>
