<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\CmsGraphQl\Model\Resolver\Page" type="ScandiPWA\CmsGraphQl\Model\Resolver\Page"/>
    <preference for="Magento\CmsGraphQl\Model\Resolver\DataProvider\Page" type="ScandiPWA\CmsGraphQl\Model\Resolver\DataProvider\Page"/>
    <preference for="Magento\Cms\Api\Data" type="ScandiPWA\CmsGraphQl\Api\Data"/>

    <virtualType name="Magento\Cms\Ui\Component\Form\Field\PageLayout" type="Magento\Ui\Component\Form\Field\DefaultValue">
        <arguments>
            <argument name="path" xsi:type="string">web/default_layouts/default_cms_layout</argument>
        </arguments>
    </virtualType>
</config>
